{% extends 'main.html' %} {% block content %}
<h4>Authenticated..? {{ request.user.is_authenticated}}</h4>
<div class="div_container" style="text-align: center; margin: 70px;">
  <a
    href="/login/"
    class="btn btn-primary btn-lg active"
    role="button"
    aria-pressed="true"
    >LOGIN</a
  >
  <a
    href="/logout/"
    class="btn btn-primary btn-lg dactive"
    role="button"
    aria-pressed="true"
    >LOGOUT</a
  >
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th style="text-align: center;">Title</th>
    </tr>
  </thead>
  <tbody>
    {% for recipe in recipes %}
    <tr>
      <td>
        <a href="/recipes/{{ recipe.id }}">{{ recipe.title }}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="div_container" style="text-align: center; margin: 70px;">
  <a
    href="/addrecipe/"
    class="btn btn-primary btn-lg active"
    role="button"
    aria-pressed="true"
    >Add Recipe</a
  >
  <a
    href="/addauthor/"
    class="btn btn-primary btn-lg dactive"
    role="button"
    aria-pressed="true"
    >Add Author</a
  >
</div>
{% endblock %}
